nav .container__nav--left {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
}

nav .container__nav--right {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
}

.nav__mobile {
	position: relative;
	display: none;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: transparent;
}

.dropdown__mobile {
	position: absolute;
	top: 70px;
	left: calc(50% - calc(96% / 2));
	width: 96%;
	height: auto;
	padding: 2rem;
	text-align: center;
	background-color: var(--main);
	box-shadow: 0 15px 30px -10px rgb(0 0 0 / 24%);
	border-radius: var(--radius-sm);
	transition: transform 250ms ease, opacity 250ms ease;
	z-index: 10;
}

.main__section--default {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 700px;
}

.main__section--default figure {
	width: 45%;
	height: 100%;
}

.main__section--default figure img {
	width: 62vw;
	height: auto;
	object-fit: contain;
	object-position: center center;
}

.main__section--default figure img.editor {
	transform: translateY(-12vw);
}

.main__section--default figure img.laptop {
	transform: translateX(-250px) translateY(-10vw);
}

.main__section--default div {
	width: 55%;
	height: 100%;
	text-align: left;
	padding: 4rem 10vw;
}

.main__section--default div h3 {
	height: 3rem;
}

.main__section--default div p {
	margin-bottom: 4rem;
	line-height: 1.6rem;
	color: var(--text-body);
}

.main__section--special {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	background: url(../images/bg-pattern-circles.svg) no-repeat -120% 85% / 85%,
		var(--gradient-secondary);
	margin: 2rem 0 15rem 0;
	border-radius: 0 var(--radius-xl) 0 var(--radius-xl);
}

.main__section--special div {
	width: 40%;
	height: auto;
	padding: 2rem 2vw;
}

.main__section--special div h2 {
	color: var(--text-white);
	height: 4rem;
}

.main__section--special div p {
	color: var(--text-white);
	line-height: 1.6rem;
	text-align: left;
}
