html {
	background-color: var(--main);
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: auto;
	max-width: 100%;
	min-height: 100vh;
	background-color: var(--main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	width: 100%;
	height: auto;
	background: url('../images/bg-pattern-intro.svg') no-repeat 26% 53% / 220%,
		var(--gradient-primary);
	border-bottom-left-radius: var(--radius-xl);
	padding: 5vh 8vw;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: transparent;
}

hgroup {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 500px;
	background-color: transparent;
}

hgroup div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 2.5rem 0;
}

main {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: var(--main);
	overflow: hidden;
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: auto;
	background-color: var(--footer);
	border-top-right-radius: var(--radius-xl);
	padding: 1.5rem 5rem;
}

footer section {
	width: calc(100% / 4);
	height: auto;
	padding: 2rem 1rem;
}

footer section h4 {
	color: var(--text-white);
	margin-bottom: 1.5rem;
}

footer section li a {
	line-height: 1.7rem;
	color: var(--text-white);
}

hr {
	margin: 1.2rem 0;
	border: solid 1px var(--nav-mobile-grey);
}

/* Texts */

h1,
h2,
h3,
h4 {
	font-style: normal;
	text-transform: none;
	font-family: 'Overpass', sans-serif;
	color: var(--text-titles);
}

h1 {
	font-weight: 600;
	font-size: clamp(2em, 4vw, 4em);
}

h2 {
	font-weight: 600;
	font-size: clamp(1.7em, 3vw, 2.3em);
}

h3 {
	font-weight: 600;
	font-size: clamp(1.4em, 2.5vw, 1.5em);
}

h4.subtitle {
	font-weight: 300;
	font-size: 1.2rem;
}

p,
span,
button,
caption,
address,
button,
li,
a {
	font-weight: 400;
	font-size: clamp(15px, 2vw, 16px);
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: var(--text-body);
}
