*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

:root {
	/* Primaries */
	--primary: #ff525d;
	--primary-hover: #ff7a85;
	--footer: #25252d;
	--main: #ffffff;

	/* Texts */
	--text-titles: #1f3f5b;
	--text-body: #4b5862;
	--text-white: #ffffff;
	--text-footer: #c8c8cb;

	/* Gradients */
	--gradient-primary: linear-gradient(to right, #ff8f70, #ff3d54);
	--gradient-secondary: linear-gradient(to right, #2c2d3f, #3f4164);

	/* Utilities */
	--radius-fl: 30rem;
	--radius-xl: 5rem;
	--radius-md: 2rem;
	--radius-sm: 0.4rem;
}
