@media only screen and (max-width: 864px) {
	.nav__desktop {
		display: none;
	}

	.nav__mobile {
		display: flex;
	}
}

@media only screen and (max-width: 375px) {
	li {
		font-weight: 700;
	}

	a {
		font-weight: 500;
	}

	h3 {
		padding: 0 1.3rem;
		margin-bottom: 1rem;
	}

	header {
		background: url(../images/bg-pattern-intro.svg) no-repeat 35% 35% / 380%,
			var(--gradient-primary);
		border-bottom-left-radius: 6rem;
	}

	.button__primary--fill,
	.button__primary--outline {
		margin: 0 0.5rem;
		padding: 1rem 1.6rem;
	}

	.main__section--default {
		flex-wrap: wrap;
	}

	.main__section--default > div {
		width: 100%;
		text-align: center;
		padding: 2rem;
	}

	ul.mobile--dropdown li {
		font-size: 22px;
	}

	ul.mobile--dropdown ul li a {
		font-size: 16px;
	}

	.link {
		display: block;
		width: 100%;
		color: var(--text-body);
		font-size: 22px;
		font-weight: 700;
		margin: 1.5rem 0;
	}
}
