.logotype {
	width: auto;
	height: auto;
	margin-right: 4vw;
}

.logotype img {
	width: auto;
	height: 40px;
	object-position: center center;
	object-fit: contain;
}

.hamburger svg {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.cross {
	position: absolute;
	top: 2.5rem;
	right: 2rem;
}

.cross svg {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.link {
	color: var(--color-font-light);
	margin: 0 1rem;
}

.link:hover {
	text-decoration: underline;
}

.button__primary--fill {
	appearance: none;
	color: var(--color-primary);
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: var(--border-radius-fl);
	background-color: var(--color-background);
	transition: background-color 250ms ease, color 250ms ease;
}

.button__primary--fill:hover {
	text-decoration: none;
	background-color: var(--color-primary-hover);
	color: var(--color-font-light);
}

.button__primary--outline {
	appearance: none;
	color: var(--color-font-light);
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: solid 1px var(--color-background);
	border-radius: var(--border-radius-fl);
	background-color: transparent;
	transition: background-color 250ms ease, color 250ms ease;
}

.button__primary--outline:hover {
	background-color: var(--color-background);
	color: var(--color-primary);
}
