.text__color--white {
	color: var(--text-white);
}

.element--disabled {
	display: none;
	transform: translateX(-30px);
	opacity: 0;
}

.element--hidden {
	transform: translateX(-30px);
	opacity: 0;
	pointer-events: none;
}

.align--reverse {
	flex-direction: row-reverse;
}

.align--normal {
	flex-direction: row;
}

.margins--sm {
	margin: var(--margins-sm) 0;
}

.text__align--center {
	text-align: center;
}
